<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRKOc97ziL3Xyp21CQwUJaq8ShJ-vLpFU</string>
	<key>GCM_SENDER_ID</key>
	<string>551880581965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multigeo</string>
	<key>PROJECT_ID</key>
	<string>multigeot-419617</string>
	<key>STORAGE_BUCKET</key>
	<string>multigeot-419617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551880581965:ios:41a364128083274e080d04</string>
</dict>
</plist>